<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WS</title>
</head>

<body>
    <ul id='mess'>


    </ul>
    <form>
        <input type="text" name="name" id="name">
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
        <button type="button" id="btn">SUb</button>
    </form>

</body>
<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
<script>
    var ws = new WebSocket('ws://localhost:3000/message/ws');

    //发送消息
    function postmessage() {
        var name = document.querySelector("#name").value;
        var message = document.querySelector("#message").value;
        //发送数据
        var data = { id: "1", name: name, message: message };
        ws.send(JSON.stringify(data))
    }

    var btn = document.querySelector("#btn");
    btn.addEventListener("click", postmessage)
    //接收
    ws.onmessage = function (e) {
        console.log('_message');
        var data = JSON.parse(e.data);

        var li = document.createElement('li');
        li.innerHTML = `<strong>${data.name}</strong>:</br>'${data.message}'`;
        document.querySelector("#mess").appendChild(li);

    };
    ws.onerror = function (err) {
        console.log('_error');
        console.log(err);
    };
    //连接建立时触发
    ws.onopen = function () {
        console.log('_connect')
    };
    //关闭
    ws.onclose = function () {
        console.log('_close');
    };

</script>

</html>