<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <% include meta.html %>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <fieldset>
        <legend>get</legend>
        <form action="/getPost/get" method="get">
            <input type="text" name="input">
            <button>sub</button>
        </form>
        <p>query:
            <%= JSON.stringify(get) %>
        </p>
    </fieldset>

    <fieldset>
        <legend>post</legend>
        <form action="/getPost/post?q=query" method="post">
            <input type="text" name="input">
            <button>sub</button>
        </form>
        <p>post:
            <%= JSON.stringify(post) %>
        </p>
    </fieldset>

    <fieldset>
        <legend>all post and all 都会执行可以用 next()中转</legend>
        <p>data:
            <%=`post: ${JSON.stringify(post)} get: ${JSON.stringify(get)}`%>
        </p>
    </fieldset>
    <script src="https://cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>

</body>

</html>